<div class="container text-center">
    <img src="/img/logos.png" alt="SEDEMA LOGO" class="mb-4" style="max-width: 350px; margin-top: 50px;">
    <h1 class="display-4" style="color: #7c1241;">404</h1>
    <p class="lead">Lo sentimos, la página que buscas no está disponible.</p>
    <p>Es posible que la página haya sido eliminada, movida o que la URL sea incorrecta.</p>
    <a href="/main" class="btn mt-3" style="background-color: #7c1241; color: white;">
        <i class="fas fa-home"></i> Volver al Inicio
    </a>
</div>